
.getgenie {
    .getgenie-get-help-page {
        max-width: 1350px;
        padding: 30px 40px;

        .getgenie-helpful-links {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            grid-gap: 30px;
        }

        .getgenie-help-card {
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0 2px 5px 10px #00000003;
            transition: all 0.4s ease;
            padding: 35px 50px;
            display: block;
            color: #242323;

            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 10px 15px 15px #0000000d;
            }

            img {
                min-height: 65px;
                margin-bottom: 10px;
                display: block;
                border-radius: inherit;
            }

            label {
                font-size: 1.6rem;
                margin: 0;
                display: block;
                line-height: normal;
                text-decoration: none;
                margin-top: 20px;
                font-weight: 600;
                color: #021343;
            }

            span {
                text-decoration: none;
                display: inline-block;
                margin-top: 10px;
                font-size: 15px;
                line-height: 22px;
                color: #5d5e65;
            }
        }

        .getgenie-products {
            margin-top: 80px;

            .getgenie-products__header {
                h1 {
                    font-size: 40px;
                    color: #021343;
                    font-weight: 700;
                    margin-bottom: 8px;
                }
                p {
                    color: #5d5e65;
                    font-size: 16px;
                }
            }

            .getgenie-products__content {
                margin-top: 40px;
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

                .getgenie-help-card {
                    padding: 30px;
                    label {
                        font-size: 16px;
                        font-weight: 700;
                        display: flex;
                        column-gap: 10px;
                        align-items: center;
                        margin-bottom: 15px;
                        margin-top: 0;
                        img {
                            width: 40px;
                            min-height: auto;
                        }
                    }
                    span {
                        display: block;
                        color: #5d5e65;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
