.getgenie {
    .genie-input {
        width: 100%;
        // label {
        //     display: none;
        // }
    }
    .ant-form-item-control-input-content {
        .ant-input {
            @include input;
            &:hover {
                border-color: #d9d9d9;
            }
            &:focus {
                border-color: #4570f4;
            }
        }
    }
}